<section class="slider_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 d-flex align-items-center">
                <div class="slider_content">
                    <h2 class="f_p f_700 f_size_40 l_height60">Онлайн-сервис <br /> доставки блюд в офисы</h2>
                    <p style="font-size:20px" class="f_400 l_height34 mt_30">Готовим обеды для бизнес-компаний<br> Доставляем заказы вашим сотрудникам в офис</p>
                    <a href="#" class="slider_btn btn_hover mt_30">ЗАКАЗАТЬ ТЕСТОВУЮ ДЕГУСТАЦИЮ</a>

                </div>
            </div>
            <div class="col-lg-5">
                <div class="mobile_img">
                    <div class="pp-scrollable p-table section section-1" data-page-index="0">

                        <div class="scroll-wrap">

                            <div class="p-section-bg" style="background-image:url(./img/first_bg.jpg);">


                            </div>

                        </div>
                    </div>
                    <div class="img"><a href="#menu"><img class="women_img leaf wow fadeInDown" data-wow-delay="0.4s" src="~/Content/img/menu.png" alt=""></a></div>

                    <img style=" filter: blur(5px); -webkit-filter: blur(5px);" class="mobile wow fadeInRight" data-wow-delay="0.1s" src="~/Content/img/mobile.png" alt="">

                </div>

            </div>
        </div>
    </div>
    <img class="leaf l_left" src="~/Content/img/shape_02.png" alt="">

    <img class="middle_shape" src="~/Content/img/shape_01.png" alt="">
    <img class="bottom_shoape" src="~/Content/img/shape.png" alt="">
</section>

<section id="serv" class="easy_setup_area sec_pad">
    <div class="container">
        <div class="hosting_title analytices_title text-center">
            <h2 class="wow fadeInUp" data-wow-delay="0.2s"><span>Как мы работаем?</span> </h2>
        </div>
        <div class="setup_inner">
            <div class="setup_item row">
                <div class="col-md-5 setup_img wow fadeInLeft" data-wow-delay="0.2s">
                    <img src="~/Content/img/het1.png" alt="">
                </div>
                <div class="col-md-2 s_number">
                    <div class="round">1</div>
                </div>
                <div class="col-md-5">
                    <div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
                        <h5>Вкусные впечатления на каждый день</h5>
                        <p>Каждый день все сотрудники получают ссылку на завтрашнее меню в Whatsapp и Telegram</p>
                    </div>
                </div>
                <div class="line bottom_half wow height" data-wow-delay="0.5s"></div>
            </div>
            <div class="setup_item row flex-row-reverse">
                <div style="" class="col-md-5 setup_img wow fadeInLeft" data-wow-delay="0.2s">
                    <img style="height:100px" src="~/Content/img/setup_img2.png" alt="">
                </div>
                <div class="col-md-2 s_number">
                    <div class="round">2</div>
                </div>
                <div class="col-md-5">
                    <div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
                        <h5>Формирование заказа</h5>
                        <p>Сотрудники выбирают понравившиеся блюда и формируют заказ</p>
                    </div>
                </div>
                <div class="line wow height" data-wow-delay="0.9s"></div>
            </div>
            <div class="setup_item row">
                <div class="col-md-5 setup_img wow fadeInLeft" data-wow-delay="0.2s">
                    <img src="~/Content/img/setup_img3.png" alt="">
                </div>
                <div class="col-md-2 s_number">
                    <div class="round">3</div>
                </div>
                <div class="col-md-5">
                    <div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
                        <h5>Приготовление заказа</h5>
                        <p>Ранним утром повара приготовят и соберут заказы каждому сотруднику</p>
                    </div>
                </div>
                <div class="line wow height" data-wow-delay="1.5s"></div>
            </div>@*
                <div class="setup_item row flex-row-reverse">
                    <div class="col-md-5 setup_img wow fadeInLeft" data-wow-delay="0.2s">
                        <img src="~/Content/img/setup_img3.png" alt="">
                    </div>
                    <div class="col-md-2 s_number">
                        <div class="round">4</div>
                    </div>
                    <div class="col-md-5">
                        <div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
                            <h5>Доставка заказа в офис</h5>
                            <p>В выбранное время курьер доставит обеды к вам в офис</p>
                        </div>
                    </div>
                    <div class="line wow height" data-wow-delay="1.5s"></div>
                </div>*@
        </div>
    </div>
</section>


<section id="screen" class="agency_testimonial_area bg_color sec_pad">
    <div class="container">
        <h2 class="f_size_30 f_600 t_color3 l_height40 text-center mb_60 wow fadeInUp" data-wow-delay="0.1s">Присоединяйтесь к нам</h2>

        <div class="agency_testimonial_info">
            <div class="testimonial_slider owl-carousel">
                <div class="testimonial_item text-center left">
                    <div class="author_img"><img src="~/Content/img/des.png" alt=""></div>
                    <div class="author_description">
                        <h4 class="f_500 t_color3 f_size_18">Добавление сотрудников</h4>
                    </div>
                    <p>Добавляйте ваших сотрудников в систему</p>
                </div>
                <div class="testimonial_item text-center center">
                    <div class="author_img"><img src="~/Content/img/des.png" alt=""></div>
                    <div class="author_description">
                        <h4 class="f_500 t_color3 f_size_18">Выбор блюд</h4>
                    </div>
                    <p>Сотрудники формируют заказы</p>
                </div>
                <div class="testimonial_item text-center right">
                    <div class="author_img"><img src="~/Content/img/des.png" alt=""></div>
                    <div class="author_description">
                        <h4 class="f_500 t_color3 f_size_18">История заказов</h4>
                    </div>
                    <p>Предоставялем учет всех заказов по каждому сотруднику</p>
                </div>

            </div>
        </div>

    </div>
</section>


@*<section id="screen" class="design_tab_area sec_pad">
        <div class="container">
            <div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
                <h2 class="f_p f_size_30 l_height50 f_600 t_color3">Присоединяйтесь к нам</h2>
                <p class="f_400 f_size_16 mb-0">Мы создали онлайн-систему для вашей компании <br> Работа сервиса на практике</p>
            </div>
            <div class="row">
                <div class="col-lg-4 d-flex align-items-center">
                    <ul class="nav nav-tabs design_tab support_tab" role="tablist">
                        <li class="nav-item wow fadeInUp" data-wow-delay="0.4s">
                            <a class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="true">
                                <h5>Добавление сотрудников</h5>
                                <p>Добавляйте ваших сотрудников в систему</p>
                            </a>
                        </li>
                        <li class="nav-item wow fadeInUp" data-wow-delay="0.6s">
                            <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false">
                                <h5>Выбор блюд</h5>
                                <p>Сотрудники формируют заказы</p>
                            </a>
                        </li>
                        <li class="nav-item wow fadeInUp" data-wow-delay="0.8s">
                            <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="three" aria-selected="false">
                                <h5>История заказов</h5>
                                <p>Предоставялем учет всех заказов по каждому сотруднику</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8">
                    <div class="tab-content support_tab_content">
                        <div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one-tab">
                            <div class="tab_img">
                                <img src="~/Content/img/des.png" alt="">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab">
                            <div class="tab_img">
                                <img src="~/Content/img/des.png" alt="">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="three-tab">
                            <div class="tab_img">
                                <img src="~/Content/img/des.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@



<section id="menu" style="padding-top:85px" class="prototype_service_area_two">
    <div class="container custom_container">
        <div class="sec_title text-center " style="margin-bottom:62px">
            <h2 class="f_p f_size_30 l_height50 f_700 t_color2">Наше меню</h2>
            <p class="f_400 f_size_16 l_height30">Делаем ваше питание вкусным и разнообразным!</p>
        </div>
        <div class="service_carousel owl-carousel">

            <div class="service_item" data-toggle="modal" data-target=".bd-example-modal-sm-2">
                <div data-toggle="tooltip" title="Описание блюда" data-placement="top" class="icon s_icon_one"><i class=ti-info-alt></i></div>
                <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Картофель<br> с рыбой</h4>
                <p style="font-size:14px; margin-top:-15px">320 g</p>
                <p style="color: black;font-weight: 700;font-size:18px;font-wieght:bold;">400 тенге</p>
                <p>Красная рыба. А также горбуша с икрой</p>
                <img class="float-right" src="~/Content/img/un3.png" alt="">
            </div>

            <div class="service_item" data-toggle="modal" data-target=".bd-example-modal-sm-1">
                <div data-toggle="tooltip" title="Описание блюда" data-placement="top" class="icon s_icon_one"><i class="ti-info-alt"></i></div>
                <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Макароны<br> Филадельфия</h4>
                <p style="font-size:14px; margin-top:-15px">320 g</p>
                <p style="color: black;font-weight: 700;font-size:18px;font-wieght:bold;">400 тенге</p>
                <p>Добавим немного кетчупа чтобы разбавить этот фарс.</p>
                <img class="float-right" src="~/Content/img/un3.png" alt="">
            </div>

            <div class="service_item" data-toggle="modal" data-target=".bd-example-modal-sm">
                <div data-toggle="tooltip" title="Описание блюда" data-placement="top" class="icon s_icon_one"><i class="ti-info-alt"></i></div>
                <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Суши<br> Африканские</h4>
                <p style="font-size:14px; margin-top:-15px">320 g</p>
                <p style="color: black;font-weight: 700;font-size:18px;font-wieght:bold;">400 тенге</p>
                <p>Мы оборачиваем суши рыбой полностью и не экономим.</p>
                <img class="float-right" src="~/Content/img/un3.png" alt="">
            </div>

            <div class="service_item" data-toggle="modal" data-target=".bd-example-modal-sm">
                <div data-toggle="tooltip" title="Описание блюда" data-placement="top" class="icon s_icon_one"><i class="ti-info-alt"></i></div>
                <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Суши<br> Африканские</h4>
                <p style="font-size:14px; margin-top:-15px">320 g</p>
                <p style="color: black;font-weight: 700;font-size:18px;font-wieght:bold;">400 тенге</p>
                <p>Мы оборачиваем суши рыбой полностью и не экономим.</p>
                <img class="float-right" src="~/Content/img/un3.png" alt="">
            </div>


        </div>
    </div>
</section>

<section class="payment_features_area_three bg_color">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 d-flex align-items-center">
                <div class="payment_features_content_two">
                    <h2 class="t_color">Попробуйте наши блюда заказав тестовую дегустацию</h2>
               
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="item">
                                <img src="img/new/icon/icon1.png" alt="">
                                <h3>Ваше имя</h3>
                                <div class="form-group text_box">
                                    <input type="text" name="name" placeholder="Введите имя">
                                </div>
                            </div>
                            <div class="item">
                                <img src="img/new/icon/icon2.png" alt="">
                                <h3>Компания</h3>
                                <div class="form-group text_box">
                                    <input type="text" name="name" placeholder="Введите название">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="item">
                                <img src="img/new/icon/icon2.png" alt="">
                                <h3>Телефон</h3>
                                <div class="form-group text_box">
                                    <input type="text" name="name" placeholder="Введите телефон">
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12">
                            <div class="form-group text_box">
                                <button class="btn_scroll ">Заказать дегустацию</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <img style="max-width:120%" class="img-fluid" src="~/Content/img/111.jpg" alt="">
            </div>
        </div>
    </div>
</section>

@*
    <section class="saas_features_area_three bg_color sec_pad">
        <div class="container">
            <div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
                <h2 class="f_p f_size_30 l_height50 f_600 t_color">Как подключиться к сервису</h2>
                <p class="f_400 f_size_16">4 простых шага</p>
            </div>
            <div class="row mb_30 new_service">
                <div class="col-lg-3 col-sm-6">
                    <div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.3s">
                        <div class="number">1</div>
                        <div class="separator"></div>
                        <div class="new_service_content">
                            <img src="img/home-10/icon1.png" alt="">
                            <h4 class="f_size_20 f_p t_color f_500">Оставляете заявку</h4>
                            <p class="f_400 f_size_15 mb-0">Заявка попадает в нашу онлайн-систему и ее быстро рассматривают!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.5s">
                        <div class="number">2</div>
                        <div class="separator"></div>
                        <div class="new_service_content">
                            <img src="img/home-10/icon2.png" alt="">
                            <h4 class="f_size_20 f_p t_color f_500">Мы связываемся с вами</h4>
                            <p class="f_400 f_size_15 mb-0">Наш менеджер связывается с вами и обговаривает все детали</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.7s">
                        <div class="number">3</div>
                        <div class="separator"></div>
                        <div class="new_service_content">
                            <img src="img/home-10/icon3.png" alt="">
                            <h4 class="f_size_20 f_p t_color f_500">Тестовая дегустация</h4>
                            <p class="f_400 f_size_15 mb-0">Проводим тестовую дегустацию наших блюд</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.7s">
                        <div class="number">4</div>
                        <div class="separator"></div>
                        <div class="new_service_content">
                            <img src="img/home-10/icon3.png" alt="">
                            <h4 class="f_size_20 f_p t_color f_500">Договор и доставка</h4>
                            <p class="f_400 f_size_15 mb-0">Заключаем договор с вами, заводим в систему и начинаем доставлять</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>*@

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Описание блюда</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Суши Африканские
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm-1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Описание блюда</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Моккороны
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm-2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Описание блюда</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Картофель с рыбой
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm-2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Описание блюда</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Картофель с рыбой
            </div>
        </div>
    </div>
</div>


<section id="preim" class="payment_service_area">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-4">
                <div style="margin-top:50px" class="service-content wow fadeInRight" data-wow-delay="0.2s">

                    <h2 class="f_p w_color f_700">Преимущества работы с нами</h2>
                    <p style="font-size:20px" class="f_p w_color">Ваш здоровый рацион - <br /> наша важнейшая задача.</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6 media payment_service_item wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon">
                            <img src="~/Content/img/icon8.png" alt="">
                        </div>
                        <div class="media-body">
                            <h3 class="f_size_20 f_p w_color f_600">Лояльность клиентов</h3>
                            <p class="f_400 f_size_15 w_color"> Помогаем компании проявлять заботу о своих подчиненных</p>
                        </div>
                    </div>

                    <div class="col-md-6 media payment_service_item wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon">
                            <img src="~/Content/img/icon5.png" alt="">
                        </div>
                        <div class="media-body">
                            <h3 class="f_size_20 f_p w_color f_600">С заботой о каждом</h3>
                            <p class="f_400 f_size_15 w_color">Вкусные обеды приготовленные с любовью</p>
                        </div>
                    </div>
                    <div class="col-md-6 media payment_service_item wow fadeInUp" data-wow-delay="0.5s">
                        <div class="icon">
                            <img src="~/Content/img/icon7.png" alt="">
                        </div>
                        <div class="media-body">
                            <h3 class="f_size_20 f_p w_color f_600">Единые стандарты качества</h3>
                            <p class="f_400 f_size_15 w_color">Наличие сертифкатов ISO 9001</p>
                        </div>
                    </div>
                    <div class="col-md-6 media payment_service_item wow fadeInUp" data-wow-delay="0.6s">
                        <div class="icon">
                            <img src="~/Content/img/icon6.png" alt="">
                        </div>
                        <div class="media-body">
                            <h3 class="f_size_20 f_p w_color f_600">Всегда вовремя</h3>
                            <p class="f_400 f_size_15 w_color">Привозим еду в строго назначенное время!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="analytices_customers_logo_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="analytices_logo_content">
                    <div style="padding-top:30px" class="hosting_title analytices_title">
                        <h2><span>Нам доверяют </span>лучшие компании</h2>
                        <a style="margin-top:0" href="#" class="er_btn er_btn_two">Стать клиентом</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-6">
                        <a href="#" class="analytices_logo"><img src="~/Content/img/metorik.png" alt=""></a>
                    </div>
                    <div class="col-md-3 col-sm-4 col-6">
                        <a href="#" class="analytices_logo"><img src="~/Content/img/campfire.png" alt=""></a>
                    </div>
                    <div class="col-md-3 col-sm-4 col-6">
                        <a href="#" class="analytices_logo"><img src="~/Content/img/metorik.png" alt=""></a>
                    </div>
                    <div class="col-md-3 col-sm-4 col-6">
                        <a href="#" class="analytices_logo"><img src="~/Content/img/campfire.png" alt=""></a>
                    </div>
                    <div class="col-md-3 col-sm-4 col-6">
                        <a href="#" class="analytices_logo"><img src="~/Content/img/metorik.png" alt=""></a>
                    </div>
                    <div class="col-md-3 col-sm-4 col-6">
                        <a href="#" class="analytices_logo"><img src="~/Content/img/campfire.png" alt=""></a>
                    </div>
                    <div class="col-md-3 col-sm-4 col-6">
                        <a href="#" class="analytices_logo"><img src="~/Content/img/metorik.png" alt=""></a>
                    </div>
                    <div class="col-md-3 col-sm-4 col-6">
                        <a href="#" class="analytices_logo"><img src="~/Content/img/campfire.png" alt=""></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="seo_fact_area sec_pad">
    <div class="home_bubble">
        <div class="bubble b_one"></div>
        <div class="bubble b_three"></div>
        <div class="bubble b_four"></div>
        <div class="bubble b_six"></div>
        <div class="triangle b_eight" data-parallax='{"x": 120, "y": -10}'><img src="img/seo/triangle_one.png" alt=""></div>
    </div>
    <div class="container">
        <div class="seo_sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
            <h2>Цифры говорят за нас</h2>
            <p style="font-size:20px" class="f_p w_color">Наши ежедневные достижения</p>

        </div>
        <div class="seo_fact_info">
            <div class="seo_fact_item">
                <div class="text">
                    <p style="margin-bottom:10px; color:black">Доставляем <br /> обеды в</p>
                    <div class="counter one">23</div>
                    <p style="color:black">компании</p>
                </div>
            </div>
            <div class="seo_fact_item">
                <div class="text">
                    <p style="margin-bottom:10px; color:black">Кормим </p>
                    <div class="counter two">156</div>
                    <p style="color:black">сотрудников</p>
                </div>
            </div>
            <div class="seo_fact_item">
                <div class="text">
                    <p style="margin-bottom:10px; color:black">Готовим</p>
                    <div class="counter three">458</div>
                    <p style="color:black">блюд</p>
                </div>
            </div>
            <div class="seo_fact_item last">
                <div class="text">
                    <p style="margin-bottom:10px; color:black">Уже</p>
                    <div class="counter four">258</div>
                    <p style="color:black">дней</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="erp_testimonial_area sec_pad">
    <div class="container">
        <div class="hosting_title erp_title text-center">
            <h2>Отзывы о нас</h2>
        </div>
        <div class="row">
            <div class="erp_testimonial_info owl-carousel">
                <div class="erp_testimonial_item">
                    <div class="content">
                        <p>Эта лучшая фирма, которую я встречал в своей жизне.</p>
                        <div class="ratting">
                            <a href="#"><i class="icon_star"></i></a>
                            <a href="#"><i class="icon_star"></i></a>
                            <a href="#"><i class="icon_star"></i></a>
                            <a href="#"><i class="icon_star"></i></a>
                            <a href="#"><i class="icon_star"></i></a>
                        </div>
                    </div>
                    <div class="media">
                        <img src="img/erp-home/testimonial_img.jpg" alt="">
                        <div class="media-body">
                            <h5>Богомол Францисков, <span>Сотрудник простой</span></h5>
                            <p>ТОО Шаурма</p>
                        </div>
                    </div>
                </div>
                <div class="erp_testimonial_item">
                    <div class="content">
                        <p>Эта лучшая фирма, которую я встречал в своей жизне.</p>
                        <div class="ratting">
                            <a href="#"><i class="icon_star"></i></a>
                            <a href="#"><i class="icon_star"></i></a>
                            <a href="#"><i class="icon_star"></i></a>
                            <a href="#"><i class="icon_star"></i></a>
                            <a href="#"><i class="icon_star"></i></a>
                        </div>
                    </div>
                    <div class="media">
                        <img src="img/erp-home/testimonial_img.jpg" alt="">
                        <div class="media-body">
                            <h5>Богомол Францисков, <span>Сотрудник простой</span></h5>
                            <p>ТОО Шаурма</p>
                        </div>
                    </div>
                </div>
                <div class="erp_testimonial_item">
                    <div class="content">
                        <p>Эта лучшая фирма, которую я встречал в своей жизне.</p>
                        <div class="ratting">
                            <a href="#"><i class="icon_star"></i></a>
                            <a href="#"><i class="icon_star"></i></a>
                            <a href="#"><i class="icon_star"></i></a>
                            <a href="#"><i class="icon_star"></i></a>
                            <a href="#"><i class="icon_star"></i></a>
                        </div>
                    </div>
                    <div class="media">
                        <img src="img/erp-home/testimonial_img.jpg" alt="">
                        <div class="media-body">
                            <h5>Богомол Францисков, <span>Сотрудник простой</span></h5>
                            <p>ТОО Шаурма</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



<div class="modal fade bd-example-modal-sm-23" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Заказать звонок</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <h5>Оставьте свой номер и мы вам перезвоним</h5>

                <div class="form-group text_box">
                    <input type="text" name="name" placeholder="Ваше имя">
                </div>
                <div class="form-group text_box">
                    <input type="text" name="name" placeholder="Номер">
                </div>
                <div class="col-lg-12">
                    <div class="form-group text_box">
                        <button class="btn_scroll ">Заказать звонок</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>



<section class="support_integration_area">
    <div class="container">
        <div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
            <h2 class="f_p f_size_30 l_height50 f_600 t_color3">Наши сервисы</h2>
            <p class="f_400 f_size_16 mb-0">Вас также могут заинтересовать</p>
        </div>
        <div class="row flex-row-reverse">
            <div class="col-lg-12 col-md-10 col-sm-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="#" class="s_integration_item">
                            <img src="~/Content/img/kissmetrics.png" alt="">
                            <h5>Чайхона №1</h5>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="#" class="s_integration_item">
                            <img src="~/Content/img/metorik.png" alt="">
                            <h5>Чайхона №1</h5>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="#" class="s_integration_item">
                            <img src="~/Content/img/nicereply-1.png" alt="">
                            <h5>Чайхона №1</h5>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="#" class="s_integration_item">
                            <img src="~/Content/img/campfire.png" alt="">
                            <h5>Чайхона №1</h5>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="#" class="s_integration_item">
                            <img src="~/Content/img/webhooks.png" alt="">
                            <h5>Чайхона №1</h5>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="#" class="s_integration_item">
                            <img src="~/Content/img/briteverify.png" alt="">
                            <h5>Чайхона №1</h5>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
