        <section class="slider_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 d-flex align-items-center">
                        <div class="slider_content">
                            <h2 class="f_p f_700 f_size_40 l_height60">Онлайн-сервис <br /> доставки блюд в офисы.</h2>
                            <p class="f_400 l_height28 mt_30">Подключайтесь к нашему сервису бесплатно<br> выбирайте блюда из нашего меню<br> Мы доставим заказ в любую точку города</p>
                            <a href="#" class="slider_btn btn_hover mt_30">ЗАКАЗАТЬ ЕДУ</a>

                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="mobile_img">
                            <div class="pp-scrollable p-table section section-1" data-page-index="0">
                                <div class="scroll-wrap">
                                    <div class="round_line one"></div>
                                    <div class="round_line two"></div>
                                    <div class="round_line three"></div>
                                    <div class="round_line four"></div>
                                    <img class="p_absoulte pp_triangle" src="~/Content/img/triangle.png" alt="">


                                    <div class="p-section-bg" style="background-image:url(./img/Home-color/first_bg.jpg);"></div>

                                </div>
                            </div>
                            <div class="img"><a href="#"><img class="women_img leaf wow fadeInDown" data-wow-delay="0.4s" src="~/Content/img/menu.png" alt=""></a></div>
                            <img class="mobile wow fadeInRight" data-wow-delay="0.1s" src="~/Content/img/mobile.png" alt="">

                        </div>
                    </div>
                </div>
            </div>
            <img class="leaf l_left" src="~/Content/img/shape_02.png" alt="">
            <img class="leaf l_right" src="~/Content/img/hshape_03.png" alt="">
            <img class="middle_shape" src="~/Content/img/shape_01.png" alt="">
            <img class="bottom_shoape" src="~/Content/img/shape.png" alt="">
        </section>

        <section class="easy_setup_area sec_pad">
            <div class="container">
                <div class="hosting_title analytices_title text-center">
                    <h2 class="wow fadeInUp" data-wow-delay="0.2s"><span>Как работает сервис?</span> Быстрый старт за 30 секунд</h2>
                    <p class="wow fadeInUp" data-wow-delay="0.4s">Интеграция всего за 3 клика!</p>
                </div>
                <div class="setup_inner">
                    <div class="setup_item row">
                        <div class="col-md-5 setup_img wow fadeInLeft" data-wow-delay="0.2s">
                            <img src="~/Content/img/setup_img1.png" alt="">
                        </div>
                        <div class="col-md-2 s_number">
                            <div class="round">1</div>
                        </div>
                        <div class="col-md-5">
                            <div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
                                <h5>Заявка на подключение к сервису</h5>
                                <p>Вы оставляете заявку на подключение к нашему сервису</p>
                            </div>
                        </div>
                        <div class="line bottom_half wow height" data-wow-delay="0.5s"></div>
                    </div>
                    <div class="setup_item row flex-row-reverse">
                        <div class="col-md-5 setup_img wow fadeInLeft" data-wow-delay="0.2s">
                            <img src="~/Content/img/setup_img2.png" alt="">
                        </div>
                        <div class="col-md-2 s_number">
                            <div class="round">2</div>
                        </div>
                        <div class="col-md-5">
                            <div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
                                <h5>Выбор еды из меню в системе</h5>
                                <p>Ваши сотрудники выбирают еду из меню по своим предпочтениям</p>
                            </div>
                        </div>
                        <div class="line wow height" data-wow-delay="0.9s"></div>
                    </div>
                    <div class="setup_item row">
                        <div class="col-md-5 setup_img wow fadeInLeft" data-wow-delay="0.2s">
                            <img src="~/Content/img/setup_img3.png" alt="">
                        </div>
                        <div class="col-md-2 s_number">
                            <div class="round">3</div>
                        </div>
                        <div class="col-md-5">
                            <div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
                                <h5>Доставим ваш заказ</h5>
                                <p>Доставим выбранную еду в офисы в любой точке города</p>
                            </div>
                        </div>
                        <div class="line wow height" data-wow-delay="1.5s"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="design_tab_area sec_pad">
            <div class="container">
                <div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
                    <h2 class="f_p f_size_30 l_height50 f_600 t_color3">Подключайтесь к нашей системе</h2>
                    <p class="f_400 f_size_16 mb-0">Мы создали онлайн-систему для вашей компании <br> Ваши сотрудники могут выбирать блюда из меню</p>
                </div>
                <div class="row">
                    <div class="col-lg-4 d-flex align-items-center">
                        <ul class="nav nav-tabs design_tab support_tab" role="tablist">
                            <li class="nav-item wow fadeInUp" data-wow-delay="0.4s">
                                <a class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="true">
                                    <h5>Статистика</h5>
                                    <p>Сколько блюд заказали,<br> когда</p>
                                </a>
                            </li>
                            <li class="nav-item wow fadeInUp" data-wow-delay="0.6s">
                                <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false">
                                    <h5>Меню</h5>
                                    <p>Выбор блюд,<br> в корзину</p>
                                </a>
                            </li>
                            <li class="nav-item wow fadeInUp" data-wow-delay="0.8s">
                                <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="three" aria-selected="false">
                                    <h5>История заказов</h5>
                                    <p>Список ваших заказов,<br> формируется таблица</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-8">
                        <div class="tab-content support_tab_content">
                            <div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one-tab">
                                <div class="tab_img">
                                    <img src="~/Content/img/tab.png" alt="">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab">
                                <div class="tab_img">
                                    <img src="~/Content/img/tab.png" alt="">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="three-tab">
                                <div class="tab_img">
                                    <img src="~/Content/img/tab.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="service_area sec_pad">
            <div class="container custom_container p0">
                <div class="sec_title text-center">
                    <h2 class="f_p f_size_30 l_height50 f_700 t_color2">Меню на сегодня</h2>
                    <p class="f_400 f_size_16 l_height30">Мы привели примеры наших блюд<br> чтобы вы могли ознакомиться с нашим ассортиментом!</p>
                </div>
                <div class="row service_info mt_70 mb_30">
                    <div class="col-lg-3 col-sm-6 mb-30">
                        <div class="service_item">
                            <div class="icon s_icon_one"><i class="ti-check"></i></div>
                            <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Гречка<br> с вареным мясом</h4>
                            <p>Мы добавили немного брокли для вкуса.</p>
                            <img class="float-right" src="~/Content/img/undraw.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mb-30">
                        <div class="service_item">
                            <div class="icon s_icon_one"><i class="ti-check"></i></div>
                            <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Картофель<br> с рыбой</h4>
                            <p>Красная рыба. А также горбуша с икрой</p>
                            <img class="float-right" src="~/Content/img/undraw.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mb-30">
                        <div class="service_item">
                            <div class="icon s_icon_one"><i class="ti-check"></i></div>
                            <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Макароны<br> Филадельфия</h4>
                            <p>Добавим немного кетчупа чтобы разбавить этот фарс.</p>
                            <img class="float-right" src="~/Content/img/undraw.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mb-30">
                        <div class="service_item">
                            <div class="icon s_icon_one"><i class="ti-check"></i></div>
                            <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Суши<br> Африканские</h4>
                            <p>Мы оборачиваем суши рыбой полностью и не экономим.</p>
                            <img class="float-right" src="~/Content/img/undraw.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div style="background-image: -webkit-linear-gradient(40deg, #17d85b 0%, #00aff0 100%);" class="pp-scrollable p-table section section-5">
            <div class="scroll-wrap">
                <div class="round_line three"></div>
                <div class="round_line four"></div>
                <img class="p_absoulte pp_block" src="img/Home-color/block2.png" alt="">
                <div class="p-section-bg" style="background-image:url(./img/Home-color/contact_bg.jpg);"></div>
                <div class="scrollable-content">
                    <div class="vertical-centred">
                        <div class="container">
                            <div class="hosting_title pp_sec_title">
                                <br /><br />
                                <h3>Заинтересовались проектом?</h3>
                                <h2>Напишите нам</h2>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="pp_contact_info">
                                        <div class="media pp_contact_item">
                                            <div class="icon">
                                                <i class="icon_pin_alt"></i>
                                            </div>
                                            <div class="mmedia-body">
                                                Офис<br> Алматы улица Сейфулина 32
                                            </div>
                                        </div>
                                        <div class="media pp_contact_item">
                                            <div class="icon">
                                                <i class="icon_mail_alt"></i>
                                            </div>
                                            <div class="mmedia-body">
                                                <a href="#">foodorder@gmail.com</a>
                                                <a href="#">order@support.com</a>
                                            </div>
                                        </div>
                                        <div class="media pp_contact_item">
                                            <div class="icon">
                                                <i class="icon_phone"></i>
                                            </div>
                                            <div class="mmedia-body">
                                                <a href="#">(+322) 487 965 825</a>
                                                <a href="#">+838 24 584 678</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <form action="#" class="row pp_contact_form">
                                        <div class="col-lg-6">
                                            <div class="form-group text_box">
                                                <input type="text" name="name" placeholder="Как к вам обращаться?">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group text_box">
                                                <input type="email" name="email" placeholder="Ваша почта">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group text_box">
                                                <input type="text" name="tell" placeholder="Если хотите мобильный номер">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group text_box">
                                                <input type="text" name="company" placeholder="Название компании">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group text_box">
                                                <textarea name="message" id="message" cols="30" placeholder="Напишите что-нибудь"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group text_box">
                                                <button class="btn_scroll btn_hover">Отправить заявку</button>
                                            </div>
                                        </div>
                                    </form>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
    
