@model IEnumerable<FoodOrder.Models.Company>

@{
    Layout = "~/Views/Shared/_LayoutSystem.cshtml";
}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Заказы компаний</h1>
                <div class="separator mb-5"></div>
            </div>
            <div class="col-xl-6 col-lg-12 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <table class="data-table data-table-standard responsive nowrap"
                               data-order="[[ 1, &quot;desc&quot; ]]">
                            <thead>
                                <tr>
                                    <th>Компания</th>
                                    <th>Количество заказов</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var company in Model)
                                {
                                    <tr>
                                        <td>
                                            <p class="list-item-heading"><a target="_blank" href="/Orders/Employees?companyId=@company.Id">@company.Name</a></p>
                                        </td>
                                        <td>
                                            <p class="text-muted">@company.OrdersCount</p>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


