@model IEnumerable<FoodOrder.Models.User>

@{
    Layout = "~/Views/Shared/_LayoutSystem.cshtml";
    ViewBag.Title = "Заказы сотрудников";
}
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Заказы сотрудников</h1>
                <div class="separator mb-5"></div>
            </div>
            <div class="col-xl-6 col-lg-12 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Компания - @Model.FirstOrDefault().Company.Name</h5>
                        <table class="data-table data-table-standard responsive nowrap"
                               data-order="[[ 1, &quot;desc&quot; ]]">
                            <thead>
                                <tr>
                                    <th>Сотрудник</th>
                                    <th>Количество заказов</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var employee in Model)
                                {
                                    <tr>
                                        <td>
                                            <p class="list-item-heading">@employee.UserName</p>
                                        </td>
                                        <td>
                                            <p class="text-muted">@employee.Orders.Count()</p>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>