@{
    Layout = "~/Views/Shared/_LayoutSystemCourt.cshtml";
    ViewBag.Title = "Завершение заказа";
}
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="row">
                    <div class="col-12">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="jumbotron">
                                    <h1 class="display-4">Спасибо за заказ!</h1>
                                    <p class="lead">
                                       Вы совершили заказ на сегодня
                                    </p>
                                    <hr class="my-4">
                                
                                    <p class="lead  mb-0">
                                        <a class="btn btn-primary btn-lg" href="#" role="button">К личному кабинету</a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
       </div>
            </div>
            </div>
</main>