@model FoodOrder.Models.Requisites

@Html.HiddenFor(model => model.Id)

<div class="form-group position-relative error-l-50">
    <label>Полное наименование компании</label>
    <input name="FullName" type="text" class="form-control" required>
    <div class="invalid-tooltip">
        Укажите полное наименование компании!
    </div>
</div>

<div class="form-group position-relative error-l-50">
    <label>БИН/ИИН компании</label>
    <input name="BIN_IIN" type="text" class="form-control" required>
    <div class="invalid-tooltip">
        Укажите БИН или ИИН!
    </div>
</div>

<div class="form-group position-relative error-l-50">
    <label>ИИК компании</label>
    <input name="IIK" type="text" class="form-control" required>
    <div class="invalid-tooltip">
        Укажите ИИК!
    </div>
</div>

<div class="form-group position-relative error-l-50">
    <label>РНН компании</label>
    <input name="RNN" type="text" class="form-control" required>
    <div class="invalid-tooltip">
        Укажите РНН!
    </div>
</div>

<div class="form-group position-relative error-l-50">
    <label>БИК компании</label>
    <input name="BIK" type="text" class="form-control" required>
    <div class="invalid-tooltip">
        Укажите БИК!
    </div>
</div>

<div class="form-group position-relative error-l-50">
    <label>Банковские реквизиты</label>
    <input name="Bank" type="text" class="form-control" required>
    <div class="invalid-tooltip">
        Укажите реквизиты Банка!
    </div>
</div>

<div class="form-group position-relative error-l-50">
    <label>Юридический адрес компании</label>
    <input name="LegalAddress" type="text" class="form-control" required>
    <div class="invalid-tooltip">
        Укажите юридический адрес!
    </div>
</div>

<div class="form-group position-relative error-l-50">
    <label>Фактический адрес компании</label>
    <input name="ActualAddress" type="text" class="form-control" required>
    <div class="invalid-tooltip">
        Укажите фактический адрес!
    </div>
</div>

<div class="form-group position-relative error-l-50">
    <label>Директор компании</label>
    <input name="Director" type="text" class="form-control" required>
    <div class="invalid-tooltip">
        Укажите директора компании!
    </div>
</div>

<div class="form-group position-relative error-l-50">
    <label>Телефон компании</label>
    <input name="PhoneNumber" type="text" class="form-control" required>
    <div class="invalid-tooltip">
        Укажите телефон компании!
    </div>
</div>

<div class="form-group position-relative error-l-50">
    <label>Электронная почта компании</label>
    <input name="Email" type="text" class="form-control" required>
    <div class="invalid-tooltip">
        Укажите электронную почту компании!
    </div>
</div>
