@model FoodOrder.Models.CompanyViewModel

@{
    Layout = "~/Views/Shared/_LayoutSystem.cshtml";
    ViewBag.Title = "Создание компании";
}

@using (Html.BeginForm("CreateCompany", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>Создание компании</h1>
                    <div class="separator mb-5"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 mb-5">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-4">Форма создания</h5>
                            <form class="needs-validation tooltip-label-right" novalidate>

                                <div class="form-group position-relative error-l-50">
                                    <label>Название компании</label>
                                    <input name="Name" type="text" class="form-control" required>
                                    <div class="invalid-tooltip">
                                        Заполните краткое название!
                                    </div>
                                </div>

                                <a class="btn btn-primary mb-1" data-toggle="collapse" href="#collapseExample"
                                   role="button" aria-expanded="true" aria-controls="collapseExample">
                                    <i class="iconsminds-folder-add--"></i> Заполнить все реквизиты
                                </a>

                                <div class="collapse" id="collapseExample">
                                    <div class="form-group">
                                        <div class="form-group position-relative error-l-50">
                                            <label>Полное наименование компании</label>
                                            <input name="FullName" type="text" class="form-control">
                                            <div class="invalid-tooltip">
                                                Укажите полное наименование компании!
                                            </div>
                                        </div>

                                        <div class="form-group position-relative error-l-50">
                                            <label>БИН/ИИН компании</label>
                                            <input name="BIN_IIN" type="text" class="form-control">
                                            <div class="invalid-tooltip">
                                                Укажите БИН или ИИН!
                                            </div>
                                        </div>

                                        <div class="form-group position-relative error-l-50">
                                            <label>ИИК компании</label>
                                            <input name="IIK" type="text" class="form-control">
                                            <div class="invalid-tooltip">
                                                Укажите ИИК!
                                            </div>
                                        </div>

                                        <div class="form-group position-relative error-l-50">
                                            <label>РНН компании</label>
                                            <input name="RNN" type="text" class="form-control">
                                            <div class="invalid-tooltip">
                                                Укажите РНН!
                                            </div>
                                        </div>

                                        <div class="form-group position-relative error-l-50">
                                            <label>БИК компании</label>
                                            <input name="BIK" type="text" class="form-control">
                                            <div class="invalid-tooltip">
                                                Укажите БИК!
                                            </div>
                                        </div>

                                        <div class="form-group position-relative error-l-50">
                                            <label>Банковские реквизиты</label>
                                            <input name="Bank" type="text" class="form-control">
                                            <div class="invalid-tooltip">
                                                Укажите реквизиты Банка!
                                            </div>
                                        </div>

                                        <div class="form-group position-relative error-l-50">
                                            <label>Юридический адрес компании</label>
                                            <input name="LegalAddress" type="text" class="form-control">
                                            <div class="invalid-tooltip">
                                                Укажите юридический адрес!
                                            </div>
                                        </div>

                                        <div class="form-group position-relative error-l-50">
                                            <label>Фактический адрес компании</label>
                                            <input name="ActualAddress" type="text" class="form-control">
                                            <div class="invalid-tooltip">
                                                Укажите фактический адрес!
                                            </div>
                                        </div>

                                        <div class="form-group position-relative error-l-50">
                                            <label>Директор компании</label>
                                            <input name="Director" type="text" class="form-control">
                                            <div class="invalid-tooltip">
                                                Укажите директора компании!
                                            </div>
                                        </div>

                                        <div class="form-group position-relative error-l-50">
                                            <label>Телефон компании</label>
                                            <input name="PhoneNumber" type="text" class="form-control">
                                            <div class="invalid-tooltip">
                                                Укажите телефон компании!
                                            </div>
                                        </div>

                                        <div class="form-group position-relative error-l-50">
                                            <label>Электронная почта компании</label>
                                            <input name="Email" type="text" class="form-control">
                                            <div class="invalid-tooltip">
                                                Укажите электронную почту компании!
                                            </div>
                                        </div>

                                    </div>
                                </div>



                                <div style="margin-top:10px" class="form-group position-relative error-l-50">
                                    <label>Почта представителя</label>
                                    <input name="RepresentativeEmail" type="text" class="form-control" required>
                                    <div class="invalid-tooltip">
                                        Укажите почту представителя!
                                    </div>
                                </div>

                                <div class="form-group position-relative error-l-50">
                                    <label>Ссылка на группу Whatsapp</label>
                                    <input name="Whatsapp" type="text" class="form-control">
                                </div>

                                <div class="form-group position-relative error-l-50">
                                    <label>Ссылка на Telegram канал</label>
                                    <input name="Telegram" type="text" class="form-control">
                                </div>

                                <div class="form-group position-relative error-l-50">
                                    <label>Описание</label>
                                    <textarea name="Description" class="form-control" rows="2"></textarea>
                                </div>

                                <div class="form-group position-relative">
                                    <label>Способ оплаты</label>
                                    <div>
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-primary active">
                                                <input type="radio" name="TypeOfPayment" value="0" id="TypeOfPayment1" checked required> Наличный расчет
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="radio" name="TypeOfPayment" value="1" id="TypeOfPayment2"> Банковский перевод
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="radio" name="TypeOfPayment" value="2" id="TypeOfPayment3"> Электронные деньги
                                            </label>
                                        </div>
                                    </div>
                                    <div class="invalid-tooltip">
                                        Не выбран способ оплаты!
                                    </div>
                                </div>

                                <br />

                                <div class="form-group position-relative">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" name="CompanyImageFile" value="CompanyImageFile" class="custom-file-input" id="CompanyImageFile">
                                            <label class="custom-file-label" for="CompanyImageFile">Выберите логотип</label>
                                        </div>
                                    </div>
                                </div>

                                <br />

                                <div class="form-group position-relative">
                                    <label>Способ оплаты</label>
                                    <div>
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-primary active">
                                                <input type="radio" name="TypeOfPayment" value="0" id="TypeOfPayment1" checked required> Неограниченный выбор
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="radio" name="TypeOfPayment" value="1" id="TypeOfPayment2"> Выбор паками
                                            </label>
                                        </div>
                                    </div>
                                    <div class="invalid-tooltip">
                                        Не выбран способ оплаты!
                                    </div>
                                </div>

                                <br />

                                <div class="custom-control custom-checkbox mb-3 error-l-200">
                                    @*<input type="checkbox" name="UnlimitedOrders" value="false" class="custom-control-input" id="customControlValidation1">*@
                                    @Html.CheckBox("UnlimitedOrders", false, new { @class = "custom-control-input", id = "customControlValidation1" })
                                    <label class="custom-control-label" for="customControlValidation1">
                                        Неограниченные заказы для сотрудников
                                    </label>
                                </div>

                                <button type="submit" class="btn btn-primary mb-0">Создать</button>
                            </form>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </main>

}


@section Scripts  {
    <script>
        $('#CompanyImageFile').change(function () {
            var i = $(this).next('label').clone();
          var file = $('#CompanyImageFile')[0].files[0].name;
          $(this).next('label').text(file);
        });

    </script>
    }

