@model IEnumerable<FoodOrder.Models.Company>

@{
    Layout = "~/Views/Shared/_LayoutSystem.cshtml";
    ViewBag.Title = "Личный кабинет администратора";
}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Личный кабинет</h1>

                <div class="separator mb-5"></div>
            </div>

            <div class="col-xl-12 mb-4">
                <div class="row sortable">
                    <div class="col-xl-3 col-lg-6 mb-4">
                        <div class="card">
                            <div class="card-header p-0 position-relative">

                            </div>
                            <a class="newCompany" href="/Users/CreateCompany">
                                <div class="card-body d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0">Добавить компанию</h6>
                                    <i style="font-size: 25px;" class=iconsminds-add></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 list" data-check-all="checkAll">

                        @foreach (var item in Model)
                        {
                        <div class="card d-flex flex-row mb-3">
                            <a class="d-flex" href="Pages.Product.Detail.html">
                                @if (item.LogotypeFile != null)
                                {
                                    <img src="@Url.Content(item.LogotypePath)" alt="@item.Name" 
                                         class="list-thumbnail responsive border-0 card-img-left" />
                                }
                                else
                                {
                                    <img src="~/Content/img/fat-rascal-thumb.jpg" alt="Fat Rascal"
                                         class="list-thumbnail responsive border-0 card-img-left" />
                                }
                            </a>
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                    <a class="list-item-heading mb-0 truncate w-40 w-xs-100" href="">
                                        @item.Name
                                    </a>
                                    <p class="mb-0 text-muted text-small w-15 w-xs-100">Категория</p>
                                    <p class="mb-0 text-muted text-small w-15 w-xs-100">02.04.2018</p>
                                    <div class="w-15 w-xs-100">
                                        @if (item.Representative.EmailConfirmed)
                                        {
                                            <span class="badge badge-pill badge-success">Подтверждено</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-pill badge-secondary">Не подтверждено</span>
                                        }
                                    </div>
                                </div>
                                <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
                                    <a href="#" class="btn btn-primary btn-multiple-state btn-xs" onclick="sendEmail(this.id)" id="@item.RepresentativeId">
                                        <div class="spinner d-inline-block">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                        <span class="icon success" data-toggle="tooltip" data-placement="top"
                                              title="Пароль успешно сгенерирован и отправлен на почту представителю!">
                                            <i class="simple-icon-check"></i>
                                        </span>
                                        <span class="icon fail" data-toggle="tooltip" data-placement="top"
                                              title="Неудачно!">
                                            <i class="simple-icon-exclamation"></i>
                                        </span>
                                        <span class="label">Сгенерировать пароль</span>
                                    </a>
                                    <a href="/Users/EditCompany/@item.Id" class="btn btn-header-light icon-button">
                                        <i class="simple-icon-pencil"></i>
                                    </a>
                                </label>
                            </div>
                        </div>
                        }

                       
                            <nav class="mt-4 mb-3">
                                <ul class="pagination justify-content-center mb-0">
                                    <li class="page-item ">
                                        <a class="page-link first" href="#">
                                            <i class="simple-icon-control-start"></i>
                                        </a>
                                    </li>
                                    <li class="page-item ">
                                        <a class="page-link prev" href="#">
                                            <i class="simple-icon-arrow-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item ">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">3</a>
                                    </li>
                                    <li class="page-item ">
                                        <a class="page-link next" href="#" aria-label="Next">
                                            <i class="simple-icon-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li class="page-item ">
                                        <a class="page-link last" href="#">
                                            <i class="simple-icon-control-end"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                </div>

            </div>

           
        </div>
    </div>
</main>


@section Scripts  {
    <script>
         
          $(document).ready(function(){
          //initialize instance
                var enjoyhint_instance = new EnjoyHint({});

               
                var enjoyhint_script_steps = [
                 
                 {
                     selector:'.newCompany',
                     event: 'next',
                     showNext:true,
                     description:'Вы можете добавлять новую компанию!',
                      skipButton: {
                          text: 'Все знаю'
                        },
                      nextButton: {
                          text: 'Далее'
                        },

                      shape:'circle',
                      radius:220
 
                    },
                     {
                     selector:'.orderSk',
                     event:'next',
                     description:'В этом разделе находятся заказы клиентов!',
                     skipButton: {
                          text: 'Понятно'
                      },
                      shape:'circle',
                      radius:70
 
                    }
                ];

              
                enjoyhint_instance.set(enjoyhint_script_steps);

                
                enjoyhint_instance.run();
          })


        function sendEmail(id) {
            $(this).trigger("click");
            var $successButton = $("#" + id).stateButton();
              event.preventDefault();
              $successButton.showSpinner();
                  $.ajax({
                    type: 'POST',
                    contentType: "application/json",
                    url: "/Users/SendSpecEmail/"+id,
                      success: function (data) {
                            setTimeout(function () {
                                $successButton.showSuccess(true);
                                  setTimeout(function () {
                                      $successButton.hideTooltips();  
                            }, 2000);
                  }, 3000); 
                }
            });

              
              
        }


    </script>


}