
@{
    Layout = "~/Views/Shared/_LayoutSystem.cshtml";
    ViewBag.Title = " ";
}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Личный кабинет</h1>

                <div class="separator mb-5"></div>
            </div>

            <div class="col-lg-12 col-xl-6">

                <div class="icon-cards-row">
                    <div class="owl-container">
                        <div class="owl-carousel dashboard-numbers">
                            <a href="#" class="card">
                                <div class="card-body text-center">
                                    <i class="iconsminds-clock"></i>
                                    <p class="card-text mb-0">Сделано заказов на сегодня</p>
                                    <p class="lead text-center">16</p>
                                </div>
                            </a>
                            <a href="#" class="card">
                                <div class="card-body text-center">
                                    <i class="iconsminds-basket-coins"></i>
                                    <p class="card-text mb-0">Надо приготовить блюд</p>
                                    <p class="lead text-center">32</p>
                                </div>
                            </a>

                            <a href="#" class="card">
                                <div class="card-body text-center">
                                    <i class="iconsminds-arrow-refresh"></i>
                                    <p class="card-text mb-0">Приготовлено блюд </p>
                                    <p class="lead text-center">2</p>
                                </div>
                            </a>


                        </div>
                    </div>
                </div>




            </div>




        </div>

</main>
