@using FoodOrder.Models
@model LoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section class="login_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="login_info">
                    <h2 class="f_p f_700 f_size_40 t_color3 mb_20">Вход</h2>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group text_box">
                            <input name="Email" type="text" placeholder="Введите почту или телефон">
                        </div>
                        <div class="form-group text_box">

                            <input name="Password" type="password" placeholder="Введите пароль">
                        </div>
                        <div class="extra">

                            <!--//check-box-->
                            <div class="forgotten-password">
                                <a href="#">Забыли пароль?</a>
                            </div>
                        </div>
                        <button type="submit" class="btn_three">Войти</button>

                    }
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-center">
                
                    <div class="mobile_img">
                        <div class="pp-scrollable p-table section section-1" data-page-index="0">
                            <div class="scroll-wrap">
                                <div class="round_line one"></div>
                                <div class="round_line two"></div>
                                <div class="round_line three"></div>
                                <div class="round_line four"></div>
                               
                                <div class="p-section-bg" style="background-image:url(./img/Home-color/first_bg.jpg);"></div>

                            </div>
                        </div>
                        
                        <img class="mobile wow fadeInRight" data-wow-delay="0.1s" src="~/Content/img/mobile.png" alt="">

                    </div>
               
            </div>
        </div>
    </div>
</section>

