<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Система</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/Content/system/font/iconsmind-s/css/iconsminds.css" />
    <link rel="stylesheet" href="~/Content/system/font/simple-line-icons/css/simple-line-icons.css" />

    <link rel="stylesheet" href="~/Content/system/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/system/css/vendor/bootstrap.rtl.only.min.css" />
    <link rel="stylesheet" href="~/Content/system/css/vendor/fullcalendar.min.css" />
    <link rel="stylesheet" href="~/Content/system/css/vendor/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/Content/system/css/vendor/datatables.responsive.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/Content/system/css/vendor/select2.min.css" />
    <link rel="stylesheet" href="~/Content/system/css/vendor/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/Content/system/css/vendor/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Content/system/css/vendor/bootstrap-stars.css" />
    <link rel="stylesheet" href="~/Content/system/css/vendor/nouislider.min.css" />
    <link rel="stylesheet" href="~/Content/system/css/vendor/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="~/Content/system/css/vendor/component-custom-switch.min.css" />
    <link rel="stylesheet" href="~/Content/system/css/main.css" />

    <style>
        .theme-button {
            display: none;
        }
    </style>

</head>


<body id="app-container" class="menu-default show-spinner">
    <nav class="navbar fixed-top">
        <div class="d-flex align-items-center navbar-left">
            <a href="#" class="menu-button d-none d-md-block">
                <svg class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 17">
                    <rect x="0.48" y="0.5" width="7" height="1" />
                    <rect x="0.48" y="7.5" width="7" height="1" />
                    <rect x="0.48" y="15.5" width="7" height="1" />
                </svg>
                <svg class="sub" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17">
                    <rect x="1.56" y="0.5" width="16" height="1" />
                    <rect x="1.56" y="7.5" width="16" height="1" />
                    <rect x="1.56" y="15.5" width="16" height="1" />
                </svg>
            </a>

            <a href="#" class="menu-button-mobile d-xs-block d-sm-block d-md-none">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17">
                    <rect x="0.5" y="0.5" width="25" height="1" />
                    <rect x="0.5" y="7.5" width="25" height="1" />
                    <rect x="0.5" y="15.5" width="25" height="1" />
                </svg>
            </a>


        </div>


        <a class="navbar-logo" href="html">
            <span class="logo d-none d-xs-block"></span>
            <span class="logo-mobile d-block d-xs-none"></span>
        </a>

        <div class="navbar-right">
            <div class="header-icons d-inline-block align-middle">


                <div class="position-relative d-none d-sm-inline-block">
                    <button class="header-icon btn btn-empty" type="button" id="iconMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="simple-icon-grid"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right mt-3  position-absolute" id="iconMenuDropdown">
                        <a href="#" class="icon-menu-item">
                            <i class="iconsminds-equalizer d-block"></i>
                            <span>Настройки</span>
                        </a>

                        <a href="#" class="icon-menu-item">
                            <i class="iconsminds-male-female d-block"></i>
                            <span>Пользователи</span>
                        </a>

                       

                    </div>
                </div>

            </div>

            <div class="user d-inline-block">
                <button class="btn btn-empty p-0" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <span class="name">Егор Поехавший</span>
                    <span>
                        <img alt="Фото профиля" src="img/profile-pic-l.jpg" />
                    </span>
                </button>

                <div class="dropdown-menu dropdown-menu-right mt-3">
                    <a class="dropdown-item" href="#">Аккаунт</a>
                    <a class="dropdown-item" href="#">Настройки</a>
                    <a class="dropdown-item" href="#">Выйти</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="menu">
        <div class="main-menu">
            <div class="scroll">
                <ul class="list-unstyled">
                    <li class="active">
                        <a href="#dashboard">
                            <i class="iconsminds-male-2"></i>
                            <span>Моя страница</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

    </div>

    @RenderBody()


    <script src="~/Scripts/system/vendor/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/system/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/system/vendor/Chart.bundle.min.js"></script>
    <script src="~/Scripts/system/vendor/chartjs-plugin-datalabels.js"></script>
    <script src="~/Scripts/system/vendor/moment.min.js"></script>
    <script src="~/Scripts/system/vendor/fullcalendar.min.js"></script>
    <script src="~/Scripts/system/vendor/datatables.min.js"></script>
    <script src="~/Scripts/system/vendor/perfect-scrollbar.min.js"></script>
    <script src="~/Scripts/system/vendor/owl.carousel.min.js"></script>
    <script src="~/Scripts/system/vendor/progressbar.min.js"></script>
    <script src="~/Scripts/system/vendor/jquery.barrating.min.js"></script>
    <script src="~/Scripts/system/vendor/select2.full.js"></script>
    <script src="~/Scripts/system/vendor/nouislider.min.js"></script>
    <script src="~/Scripts/system/vendor/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/system/vendor/Sortable.js"></script>
    <script src="~/Scripts/system/vendor/mousetrap.min.js"></script>
    <script src="~/Scripts/system/dore.script.js"></script>
    <script src="~/Scripts/system/scripts.js"></script>
</body>

</html>
