<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/custom/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/custom/vendors/bootstrap-selector/css/bootstrap-select.min.css">
    <!--icon font css-->
    <link rel="stylesheet" href="~/Content/custom/vendors/themify-icon/themify-icons.css">
    <link rel="stylesheet" href="~/Content/custom/vendors/flaticon/flaticon.css">
    <link rel="stylesheet" href="~/Content/custom/vendors/animation/animate.css">
    <link rel="stylesheet" href="~/Content/custom/vendors/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/custom/vendors/magnify-pop/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/custom/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="~/Content/custom/vendors/elagent/style.css">
    <link rel="stylesheet" href="~/Content/custom/vendors/scroll/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="~/Content/custom//style.css">
    <link rel="stylesheet" href="~/Content/custom//responsive.css">
</head>

<body>
    <div id="preloader">
        <div id="ctn-preloader" class="ctn-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
                <div class="txt-loading">
                 
                </div>
                <p class="text-center">Загружаем</p>
            </div>
            <div class="loader">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body_wrapper">

     

        @RenderBody()

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Scripts/js/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/js/propper.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Content/custom/vendors/bootstrap-selector/js/bootstrap-select.min.js"></script>
    <script src="~/Content/custom/vendors/wow/wow.min.js"></script>
    <script src="~/Content/custom/vendors/sckroller/jquery.parallax-scroll.js"></script>
    <script src="~/Content/custom/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/custom/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="~/Content/custom/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/custom/vendors/isotope/isotope-min.js"></script>
    <script src="~/Content/custom/vendors/magnify-pop/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/custom/vendors/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
</body>

</html>
