@model FoodOrder.Models.ChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_LayoutSystem.cshtml";
}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Изменение пароля для входа</h1>
                <div class="separator mb-5"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6 mb-5">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="mb-4">Форма редактирования</h5>

                        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                    <form id="rulesForm" class="tooltip-label-right" novalidate>

                        <div class="form-group position-relative error-l-75">
                            <label>Текущий пароль</label>
                            <input type="password" class="form-control" name="OldPassword" id="rulesPassword">
                            <small class="form-text text-muted">Не меньше 6 символов!</small>
                        </div>

                        <div class="form-group position-relative error-l-125">
                            <label>Новый пароль</label>
                            <input type="password" class="form-control" name="NewPassword"
                                   id="rulesPasswordConfirm">
                            <small class="form-text text-muted">Пароль должен быть одинковый!</small>
                        </div>

                        <div class="form-group position-relative error-l-125">
                            <label>Подтвердите новый пароль</label>
                            <input type="password" class="form-control" name="ConfirmPassword"
                                   id="rulesPasswordConfirm">
                            <small class="form-text text-muted">Пароль должен быть одинаковый</small>
                        </div>

                        <button type="submit" class="btn btn-primary mb-0">Изменить пароль</button>

                    </form>
                        }
                    </div>
                </div>
            </div>

        </div>

    </div>
</main>

